<PLP-nav-header [header]="sectionObject" (changeView)="changeView($event)" [report-status]="report"></PLP-nav-header>
<div class="row">
  <div class="col-md-10 col-md-offset-1 form-group">
    <div class="desktop-table">
      <table class="plp-table table table-bordered table-striped table-hover">
        <thead class="thead-inverse">

          <tr class="table-header-color">
            <th>Subject</th>
            <th>9th Grade</th>
            <th>10th Grade</th>
            <th>11th Grade</th>
            <th>12th Grade</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor='let item of testModel'>
            <td>{{item.Subject}}</td>
            <td>{{item.NinethGradeText}}</td>
            <td>{{item.TenthGradeText}}</td>
            <td>{{item.EleventhGradeText}}</td>
            <td>{{item.TwelfthGradeText}}</td>
            <td>{{item.Total}}</td>
          </tr>
        </tbody>

      </table>
      <div class="clearfix"> </div>
    </div>
    <div class="mobile-table" style="width: 100%;">
      <table class="plp-table table table-bordered table-striped table-hover">

        <tbody>


          <tr *ngIf="testModel && testModel.length == 0" align="center">
            <td colspan="3" style="font-size:18px;">{{tableNoData}}</td>
          </tr>
          <tr *ngFor='let item of testModel'>
            <td>
              <table>
                <tr>

                  <td> Subject</td>
                  <td>{{item.Subject}}</td>
                </tr>
                <tr>

                  <td> 9th Grade</td>
                  <td>{{item.NinethGradeText}}</td>
                </tr>
                <tr>

                  <td> 10th Grade</td>
                  <td>{{item.TenthGradeText}}</td>
                </tr>
                <tr>

                  <td> 11th Grade</td>
                  <td>{{item.EleventhGradeText}}</td>
                </tr>
                <tr>

                  <td> 12th Grade</td>
                  <td>{{item.TwelfthGradeText}}</td>
                </tr>
                <tr>

                  <td> Total</td>
                  <td>{{item.Total}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>


      <div class="clearfix"> </div>


    </div>
  </div>
</div>