 
<div class="title-head">
  <span >{{ header.title }}&nbsp;&nbsp;</span>
  <i class="fa {{ header.icon }}" aria-hidden="true"></i>
  </div>

 <ul class="pager">

    <li *ngIf="(report=='')" [class.disabled-btn]="(header.previousSec==undefined)"  class="previous" ><a > <button type="button" class="btn btn-small" (click)="loadPrevious()" [disabled]="(header.previousSec==undefined)" >
      <span class="glyphicon glyphicon-chevron-left"></span>
    
    </button>    Previous</a></li>
    <li><span  class="plp-red text-center prenext-center-text">{{ header.currentCount }}/{{ header.totalCount }}</span> </li>

    <li *ngIf="(report=='')" [class.disabled-btn]="(header.nextSec==undefined)" class="next"><a >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Next <button type="button" class="btn btn-small"  (click)="loadNext()" [disabled]="(header.nextSec==undefined)" >
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>  </a></li>
  </ul>

